@charset "UTF-8";
/**
* Eric Meyer's Reset CSS v2.0
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, time {
	display: block;
}

body {
	line-height: 1;
	color: black;
	background: white;
}

a {
	color: inherit;
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* meyerweb css reset end */

textarea:focus, input:focus {
	outline: 0;
}

input {
	border-width: 0;
}

em {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

sup {
	vertical-align: text-top;
	font-size: 58.3%; /*Corresponds to Photoshop's font size glyph transformation*/
}

sub {
	vertical-align: text-bottom;
	font-size: 58.3%; /*Corresponds to Photoshop's font size glyph transformation*/
}

img,
embed,
object,
video {
	max-width: 100%;
}

.group:before,
.group:after {
	content: " ";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1; /* ie 6/7 */
}

.no-space-between-inline-blocks {
	letter-spacing: -0.31em; /* webkit */
	*letter-spacing: normal; /* reset IE < 8 */
	word-spacing: -0.43em; /* IE < 8 && gecko */
}

/* restore spacing on inner elements */
.no-space-between-inline-blocks > * {
	letter-spacing: normal;
	word-spacing: normal;
}

.displace {
	position: absolute;
	left: -5000px;
}

body {
	width:100%;
	color: #878787;
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0;
	text-decoration: none;
}
.global_container_ {
	float: none;
	height: auto;
	margin: 0 auto;
	position: relative;
	width: 100%;
	background: #ffffff center 0;
	background-position: center top;
}
.header {
	position: relative;
}
.background {
	position: relative;
	width: 100%;
	background: url(images/placeholder_5.png) no-repeat center 0;
	background-position: center top;
}
.col-2 {
	padding: 40px 0 402px;
	position: relative;
	width: 100%;
	background: url(images/overlay.png) no-repeat center 0;
	background-position: center top;
}
.l-constrained-5 {
	margin: 0 auto;
	position: relative;
	width: 100%;
}
.navigation_bar {
	margin: 0 auto;
	position: relative;
	width: 1171px;
}
.row-4 {
	position: relative;
}
.logo {
	float: left;
	margin: 3px 0 0;
	position: relative;
	width: 187px;
}
.part-1 {
	float: left;
	margin: 0 3px 0 0;
}
.part-2 {
	float: left;
	margin: 7px 0 0;
}
.contact_btn {
	float: right;
	min-height: 40px;
	width: 140px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImJhc2UiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSI1MCUiIHgyPSIxMDAlIiB5Mj0iNTAlIj4KPHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjOGIyZGZmIiBzdG9wLW9wYWNpdHk9IjEiIC8+CjxzdG9wIG9mZnNldD0iNDkuODc3OTMlIiBzdG9wLWNvbG9yPSIjZGM1M2FkIiBzdG9wLW9wYWNpdHk9IjEiIC8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VlM2U1ZiIgc3RvcC1vcGFjaXR5PSIxIiAvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2Jhc2UpIiAvPjwvc3ZnPg==);
	background: -moz-linear-gradient(0deg, #8b2dff 0, #dc53ad 49.87793%, #ee3e5f 100%);
	background: -o-linear-gradient(0deg, #8b2dff 0, #dc53ad 49.87793%, #ee3e5f 100%);
	background: -webkit-linear-gradient(0deg, #8b2dff 0, #dc53ad 49.87793%, #ee3e5f 100%);
	background: -ms-linear-gradient(0deg, #8b2dff 0, #dc53ad 49.87793%, #ee3e5f 100%);
	background: linear-gradient(90deg, #8b2dff 0, #dc53ad 49.87793%, #ee3e5f 100%);
	-webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
	-moz-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
	color: #ffffff;
	font-size: 0.75em; /* 12px / 16px = 0.75em */
	letter-spacing: 0.1em;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
}
.classic_links {
	float: right;
	margin: 12px 41px 0 0;
	position: relative;
	width: 528px;
}
.classic_links > * {
	float: left;
	margin: 0 49.46px 0 0;
}
.classic_links > *:last-child {
	margin-right: 0 !important;
}
.home {
	color: #ffffff;
	font-size: 1em; /* 16px / 16px = 1em */
	font-weight: 300;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.text {
	opacity: 0.3;
	color: #ffffff;
	font-size: 1em; /* 16px / 16px = 1em */
	font-weight: 300;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.portfolio {
	opacity: 0.3;
	color: #ffffff;
	font-size: 1em; /* 16px / 16px = 1em */
	font-weight: 300;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.services {
	opacity: 0.3;
	color: #ffffff;
	font-size: 1em; /* 16px / 16px = 1em */
	font-weight: 300;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.divider {
	height: 1px;
	margin: 36px 0 0;
	width: 1170px;
	background: rgba(255, 255, 255, 0.3);
}
.text-3 {
	display: table;
	margin: 109px auto 0;
	position: relative;
}
.codegon {
	display: block;
	margin: 0 auto;
}
.text-4 {
	margin: 49px 0 0;
	color: #ffffff;
	font-size: 3.125em; /* 50px / 16px = 3.125em */
	font-weight: bold;
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
}
.text-5 {
	margin: 30px 0 0;
	opacity: 0.5;
	color: #ffffff;
	font-size: 1.25em; /* 20px / 16px = 1.25em */
	font-weight: 300;
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
}
.main-content-wrapper {
	margin: 112px 0 0;
	position: relative;
}
.about_us {
	margin: 0 auto;
	position: relative;
	width: 100%;
}
.title {
	display: table;
	margin: 0 auto;
	position: relative;
}
.text-6 {
	color: #000000;
	font-size: 3.125em; /* 50px / 16px = 3.125em */
	font-weight: bold;
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
}
.text-7 {
	margin: 30px 0 0;
	color: #adabab;
	font-size: 1.25em; /* 20px / 16px = 1.25em */
	font-weight: 300;
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
}
.divider-2 {
	height: 1px;
	margin: 77px auto 0;
	width: 1170px;
	background: #e0e0e0;
}
.row-2 {
	margin: 115px auto 0;
	position: relative;
	right: 62px;
	width: 1052px;
}
.col-5 {
	float: left;
	position: relative;
	width: 473px;
}
.overview {
	color: #000000;
	font-size: 2.5em; /* 40px / 16px = 2.5em */
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.text-8 {
	margin: 24px auto 0;
	width: 471px;
	font-size: 1.625em; /* 26px / 16px = 1.625em */
	font-weight: 300;
	line-height: 1.538462em; /* 40px / 26px = 1.538462em */
}
.col-6 {
	float: right;
	margin: 5px 0 0;
	position: relative;
	width: 449px;
}
.member-1 {
	position: relative;
}
.placeholder {
	float: left;
	margin: 0 30px 0 0;
	width: 170px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
	-moz-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
}
.text-9 {
	float: left;
	margin: 37px 0 0;
	position: relative;
	width: 214px;
}
.text-10 {
	color: #000000;
	font-size: 1.625em; /* 26px / 16px = 1.625em */
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 1.2;
	text-transform: uppercase;
}
.text-11 {
	margin: 11px 0 0 1px;
	color: #adabab;
	font-size: 1.25em; /* 20px / 16px = 1.25em */
	font-weight: 300;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.member-2 {
	margin: 30px 0 0;
	position: relative;
}
.placeholder-2 {
	float: left;
	margin: 0 28px 0 0;
	width: 170px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
	-moz-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
}
.text-12 {
	float: left;
	margin: 37px 0 0;
	position: relative;
	width: 251px;
}
.text-13 {
	color: #000000;
	font-size: 1.625em; /* 26px / 16px = 1.625em */
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 1.2;
	text-transform: uppercase;
}
.text-14 {
	margin: 11px 0 0;
	color: #adabab;
	font-size: 1.25em; /* 20px / 16px = 1.25em */
	font-weight: 300;
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
}
.member-3 {
	margin: 30px 0 0;
	position: relative;
}
.placeholder-3 {
	float: left;
	margin: 0 29px 0 0;
	width: 170px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
	-moz-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
}
.text-15 {
	float: left;
	margin: 37px 0 0;
	position: relative;
	width: 208px;
}
.text-16 {
	color: #000000;
	font-size: 1.625em; /* 26px / 16px = 1.625em */
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 1.2;
	text-transform: uppercase;
}
.text-17 {
	margin: 11px 0 0;
	color: #adabab;
	font-size: 1.25em; /* 20px / 16px = 1.25em */
	font-weight: 300;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.slider {
	margin: 30px 51px 0;
	position: relative;
}
.slider > * {
	float: left;
	margin: 0 12px 0 0;
}
.slider > *:last-child {
	margin-right: 0 !important;
}
.ellipse-1 {
	height: 8px;
	width: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #11a6b5;
}
.ellipse-1-2 {
	height: 8px;
	width: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: rgba(17, 166, 181, 0.3);
}
.ellipse-1-3 {
	height: 8px;
	width: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: rgba(17, 166, 181, 0.3);
}
.ellipse-1-4 {
	height: 8px;
	width: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: rgba(17, 166, 181, 0.3);
}
.portfolio-2 {
	margin: 120px 0 0;
	position: relative;
}
.col {
	padding: 83px 0 95px;
	position: relative;
	background: rgba(243, 243, 243, 0.5);
}
.l-constrained-4 {
	margin: 0 auto;
	position: relative;
	width: 100%;
}
.title-2 {
	display: table;
	margin: 0 auto;
	position: relative;
}
.portfolio-3 {
	color: #000000;
	font-size: 3.125em; /* 50px / 16px = 3.125em */
	font-weight: bold;
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
}
.text-18 {
	margin: 31px 0 0;
	color: #adabab;
	font-size: 1.25em; /* 20px / 16px = 1.25em */
	font-weight: 300;
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
}
.divider-3 {
	height: 1px;
	margin: 77px auto 0;
	width: 1170px;
	background: #e0e0e0;
}
.projects-navigation {
	margin: 75px 0 0 426px;
	position: relative;
}
.websites {
	float: left;
	margin: 1px 0 0;
	color: #8e93a2;
	font-size: 1.875em; /* 30px / 16px = 1.875em */
}
.text-19 {
	float: left;
	margin: 2px 0 0 59px;
	color: #07143a;
	font-size: 1.875em; /* 30px / 16px = 1.875em */
}
.photography {
	float: left;
	margin: 0 0 0 56px;
	color: #8e93a2;
	font-size: 1.875em; /* 30px / 16px = 1.875em */
}
.illustrations {
	float: left;
	margin: 1px 0 0 53px;
	color: #8e93a2;
	font-size: 1.875em; /* 30px / 16px = 1.875em */
}
.identity {
	float: left;
	margin: 0 0 0 54px;
	color: #8e93a2;
	font-size: 1.875em; /* 30px / 16px = 1.875em */
}
.row-6 {
	margin: 0 auto;
	position: relative;
	width: 100%;
}
.placeholder-4 {
	float: left;
	width: 50%;
}
.project-details {
	float: left;
	min-height: 960px;
	position: relative;
	width: 50%;
	background: #f9f9f9;
}
.divider-4 {
	height: 1px;
	width: 50%;
	background: #eaecf1;
}
.details {
	margin: 141px auto 0;
	position: relative;
	width: 578px;
}
.app-icon {
	display: block;
	position: relative;
}
.text-20 {
	left: 3px;
	margin: 57px auto 0;
	position: relative;
	width: 572px;
}
.koral {
	color: #000000;
	font-size: 2.5em; /* 40px / 16px = 2.5em */
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.text-21 {
	margin: 23px auto 0;
	width: 570px;
	font-size: 1.625em; /* 26px / 16px = 1.625em */
	font-weight: 300;
	line-height: 1.538462em; /* 40px / 26px = 1.538462em */
}
.button {
	margin: 33px auto 0;
	min-height: 17px;
	padding: 30px 0 31px;
	position: relative;
	right: 151px;
	width: 258px;
	border: 1px solid rgba(7, 20, 58, 0.2); /*stroke*/
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	color: #07143a;
	font-size: 1em; /* 16px / 16px = 1em */
	font-weight: bold;
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
}
.arrows {
	margin: 100px 195px 0;
	position: relative;
}
.arrow-left {
	float: left;
	margin: 0 20px 0 0;
}
.arrow-right {
	float: left;
}
.services-2 {
	margin: 112px auto 0;
	position: relative;
	width: 100%;
}
.title-3 {
	display: table;
	margin: 0 auto;
	position: relative;
}
.text-23 {
	color: #000000;
	font-size: 3.125em; /* 50px / 16px = 3.125em */
	font-weight: bold;
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
}
.text-24 {
	margin: 30px 0 0;
	color: #adabab;
	font-size: 1.25em; /* 20px / 16px = 1.25em */
	font-weight: 300;
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
}
.row-1 {
	margin: 117px auto 0;
	position: relative;
	width: 1170px;
}
.item-1 {
	float: left;
	margin: 0 30px 0 0;
	min-height: 173px;
	padding: 56px 60px 59px;
	position: relative;
	width: 450px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #ffffff;
	-webkit-box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
	-moz-box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
	box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
}
.desktop-smartphone {
	float: left;
	margin: 46px 51px 0 0;
}
.text-25 {
	float: left;
	position: relative;
	width: 302px;
}
.text-26 {
	color: #000000;
	font-size: 1.625em; /* 26px / 16px = 1.625em */
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.text-27 {
	margin: 26px auto 0;
	width: 300px;
	font-size: 1.625em; /* 26px / 16px = 1.625em */
	font-weight: 300;
	line-height: 1.538462em; /* 40px / 26px = 1.538462em */
}
.item-2 {
	float: left;
	min-height: 173px;
	padding: 56px 60px 59px;
	position: relative;
	width: 450px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #ffffff;
	-webkit-box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
	-moz-box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
	box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
}
.search-browser {
	float: left;
	margin: 52px 55px 0 0;
}
.text-28 {
	float: left;
	position: relative;
	width: 303px;
}
.consultancy {
	color: #000000;
	font-size: 1.625em; /* 26px / 16px = 1.625em */
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.text-29 {
	margin: 26px auto 0;
	width: 300px;
	font-size: 1.625em; /* 26px / 16px = 1.625em */
	font-weight: 300;
	line-height: 1.538462em; /* 40px / 26px = 1.538462em */
}
.row-2-2 {
	margin: 30px auto 0;
	position: relative;
	width: 1170px;
}
.item-1-2 {
	float: left;
	margin: 0 30px 0 0;
	min-height: 173px;
	padding: 56px 60px 59px;
	position: relative;
	width: 450px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #ffffff;
	-webkit-box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
	-moz-box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
	box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
}
.business-growth {
	float: left;
	margin: 46px 0 0;
}
.text-30 {
	float: right;
	margin: 0 10px 0 0;
	position: relative;
	width: 300px;
}
.branding {
	color: #000000;
	font-size: 1.625em; /* 26px / 16px = 1.625em */
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.text-31 {
	margin: 26px 0 0;
	font-size: 1.625em; /* 26px / 16px = 1.625em */
	font-weight: 300;
	line-height: 1.538462em; /* 40px / 26px = 1.538462em */
}
.item-2-2 {
	float: left;
	min-height: 173px;
	padding: 56px 60px 59px;
	position: relative;
	width: 450px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #ffffff;
	-webkit-box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
	-moz-box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
	box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
}
.aperture {
	float: left;
	margin: 46px 54px 0 0;
}
.text-32 {
	float: left;
	position: relative;
	width: 302px;
}
.photography-2 {
	color: #000000;
	font-size: 1.625em; /* 26px / 16px = 1.625em */
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.text-33 {
	margin: 26px auto 0;
	width: 300px;
	font-size: 1.625em; /* 26px / 16px = 1.625em */
	font-weight: 300;
	line-height: 1.538462em; /* 40px / 26px = 1.538462em */
}
.contact_us {
	margin: 120px 0 0;
	padding: 115px 0 120px;
	position: relative;
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImJhY2tncm91bmQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIxMDAlIiB4Mj0iMTAwJSIgeTI9IjAlIj4KPHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjOGIyZGZmIiBzdG9wLW9wYWNpdHk9IjEiIC8+CjxzdG9wIG9mZnNldD0iNDkuODc3OTMlIiBzdG9wLWNvbG9yPSIjZGM1M2FkIiBzdG9wLW9wYWNpdHk9IjEiIC8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VlM2U1ZiIgc3RvcC1vcGFjaXR5PSIxIiAvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2JhY2tncm91bmQpIiAvPjwvc3ZnPg==);
	background: -moz-linear-gradient(45deg, #8b2dff 0, #dc53ad 49.87793%, #ee3e5f 100%);
	background: -o-linear-gradient(45deg, #8b2dff 0, #dc53ad 49.87793%, #ee3e5f 100%);
	background: -webkit-linear-gradient(45deg, #8b2dff 0, #dc53ad 49.87793%, #ee3e5f 100%);
	background: -ms-linear-gradient(45deg, #8b2dff 0, #dc53ad 49.87793%, #ee3e5f 100%);
	background: linear-gradient(45deg, #8b2dff 0, #dc53ad 49.87793%, #ee3e5f 100%);
}
.l-constrained-3 {
	margin: 0 auto;
	position: relative;
	width: 100%;
}
.text-34 {
	color: #ffffff;
	font-size: 3.125em; /* 50px / 16px = 3.125em */
	font-weight: bold;
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
}
.text-35 {
	margin: 30px 0 0;
	opacity: 0.5;
	color: #ffffff;
	font-size: 1.25em; /* 20px / 16px = 1.25em */
	font-weight: 300;
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
}
.form_assets {
	display: table;
	margin: 115px auto 0;
	position: relative;
}
.row-1-2 {
	margin: 0 auto;
	position: relative;
	width: 1172px;
}
.input-1 {
	float: left;
	position: relative;
	width: 572px;
}
.text-36 {
	color: #ffffff;
	font-size: 0.875em; /* 14px / 16px = 0.875em */
	font-weight: 300;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.text-37 {
	margin: 15px 0 0 1px;
	color: #ffffff;
	font-size: 1.625em; /* 26px / 16px = 1.625em */
	font-weight: 300;
	letter-spacing: 0.025em;
}
.input {
	height: 1px;
	margin: 36px auto 0;
	width: 570px;
	background: rgba(255, 255, 255, 0.3);
}
.input-2 {
	float: right;
	position: relative;
	width: 572px;
}
.text-38 {
	color: #ffffff;
	font-size: 0.875em; /* 14px / 16px = 0.875em */
	font-weight: 300;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.text-39 {
	margin: 15px 0 0 1px;
	opacity: 0.3;
	color: #ffffff;
	font-size: 1.625em; /* 26px / 16px = 1.625em */
	font-weight: 300;
	letter-spacing: 0.025em;
}
.input-3 {
	height: 1px;
	margin: 36px auto 0;
	width: 570px;
	background: rgba(255, 255, 255, 0.3);
}
.row-2-3 {
	margin: 38px auto 0;
	position: relative;
	width: 1172px;
}
.input-1-2 {
	float: left;
	position: relative;
	width: 572px;
}
.text-40 {
	color: #ffffff;
	font-size: 0.875em; /* 14px / 16px = 0.875em */
	font-weight: 300;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.text-41 {
	margin: 15px 0 0 1px;
	opacity: 0.3;
	color: #ffffff;
	font-size: 1.625em; /* 26px / 16px = 1.625em */
	font-weight: 300;
	letter-spacing: 0.025em;
}
.input-4 {
	height: 1px;
	margin: 35px auto 0;
	width: 570px;
	background: rgba(255, 255, 255, 0.3);
}
.input-2-2 {
	float: right;
	position: relative;
	width: 573px;
}
.row-5 {
	position: relative;
}
.col-7 {
	float: left;
	position: relative;
	width: 277px;
}
.text-42 {
	margin: 0 0 0 1px;
	color: #ffffff;
	font-size: 0.875em; /* 14px / 16px = 0.875em */
	font-weight: 300;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.text-43 {
	margin: 15px 0 0;
	opacity: 0.3;
	color: #ffffff;
	font-size: 1.625em; /* 26px / 16px = 1.625em */
	font-weight: 300;
	letter-spacing: 0.025em;
}
.arrow {
	float: right;
	margin: 41px 0 0;
}
.input-5 {
	height: 1px;
	margin: 35px auto 0;
	width: 570px;
	background: rgba(255, 255, 255, 0.3);
}
.row-3 {
	margin: 59px auto 0;
	position: relative;
	width: 1172px;
}
.input-1-3 {
	float: left;
	margin: 0 28px 0 0;
	position: relative;
	width: 574px;
}
.text-44 {
	color: #ffffff;
	font-size: 0.875em; /* 14px / 16px = 0.875em */
	font-weight: 300;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.slider-2 {
	height: 40px;
	margin: 18px auto 0;
	position: relative;
	width: 570px;
}
.base-holder {
	left: 50%;
	position: absolute;
	top: 15px;
	width: 570px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: rgba(65, 48, 90, 0.3);
	margin-left: -285px;
}
.base {
	display: block;
	height: 10px;
	margin: 0 auto;
	position: relative;
	right: 165px;
	width: 240px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImJhc2UiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iNTAlIiB5MT0iMTAwJSIgeDI9IjUwJSIgeTI9IjAlIj4KPHN0b3Agb2Zmc2V0PSItMjUlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMiIgLz4KPHN0b3Agb2Zmc2V0PSIzNi4yMzA0NyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4yIiAvPgo8c3RvcCBvZmZzZXQ9IjEyNSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4yIiAvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2Jhc2UpIiAvPjwvc3ZnPg==), #ffffff;
	background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.2) -25%, rgba(255, 255, 255, 0.2) 36.23047%, rgba(255, 255, 255, 0.2) 125%), #ffffff;
	background: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.2) -25%, rgba(255, 255, 255, 0.2) 36.23047%, rgba(255, 255, 255, 0.2) 125%), #ffffff;
	background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.2) -25%, rgba(255, 255, 255, 0.2) 36.23047%, rgba(255, 255, 255, 0.2) 125%), #ffffff;
	background: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.2) -25%, rgba(255, 255, 255, 0.2) 36.23047%, rgba(255, 255, 255, 0.2) 125%), #ffffff;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) -25%, rgba(255, 255, 255, 0.2) 36.23047%, rgba(255, 255, 255, 0.2) 125%), #ffffff;
}
.handle {
	left: 50%;
	min-height: 16px;
	padding: 12px 16px;
	position: absolute;
	top: 0;
	width: 71px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #551fa5;
	-webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 10px 0 rgba(85, 31, 165, 0.1); /*drop shadow, drop shadow*/
	-moz-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 10px 0 rgba(85, 31, 165, 0.1); /*drop shadow, drop shadow*/
	box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 10px 0 rgba(85, 31, 165, 0.1); /*drop shadow, drop shadow*/
	margin-left: -139px;
}
.handle_indicator {
	float: right;
}
.text-45 {
	margin: 1px 0 0 6px;
	color: #ffffff;
	font-size: 0.875em; /* 14px / 16px = 0.875em */
	font-weight: bold;
	letter-spacing: 0.025em;
}
.input-2-3 {
	float: left;
	margin: 1px 0 0;
	min-height: 24px;
	padding: 29px 39px;
	position: relative;
	width: 490px;
	border: 1px dashed #ffffff; /*stroke*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.attachment {
	float: left;
	margin: 0 155px 0 0;
}
.text-46 {
	float: left;
	margin: 5px 0 0;
	color: #ffffff;
	font-size: 0.875em; /* 14px / 16px = 0.875em */
	font-weight: 300;
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
}
.row-4-2 {
	margin: 38px 0 0;
	position: relative;
	width: 1174px;
}
.input-1-4 {
	position: relative;
}
.text-47 {
	color: #ffffff;
	font-size: 0.875em; /* 14px / 16px = 0.875em */
	font-weight: 300;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.text-48 {
	margin: 16px 0 0;
	opacity: 0.3;
	color: #ffffff;
	font-size: 1.625em; /* 26px / 16px = 1.625em */
	font-weight: 300;
	letter-spacing: 0.025em;
}
.input-6 {
	height: 1px;
	margin: 35px auto 0;
	width: 1170px;
	background: rgba(255, 255, 255, 0.3);
}
.contact_btn-2 {
	margin: 60px auto 0;
	min-height: 12px;
	padding: 25px 0 23px;
	width: 370px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #7731e0;
	-webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
	-moz-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1); /*drop shadow*/
	color: #ffffff;
	font-size: 0.75em; /* 12px / 16px = 0.75em */
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
}
.clients {
	padding: 57px 0 60px;
	position: relative;
	background: #2b3544;
}
.l-constrained-2 {
	margin: 0 auto;
	position: relative;
	width: 100%;
}
.text-50 {
	color: #ffffff;
	font-size: 1.25em; /* 20px / 16px = 1.25em */
	font-weight: bold;
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
}
.logos {
	margin: 37px auto 0;
	position: relative;
	text-align: center;
}
.logos > * {
	margin: 0 50px 0 0;
}
.logos > *:last-child {
	margin-right: 0 !important;
}
.logos > * {
	display: inline-block;
	vertical-align: top;
}
.footer {
	padding: 39px 0 40px;
	position: relative;
	background: #3c4756;
}
.l-constrained {
	margin: 0 auto;
	position: relative;
	width: 100%;
}
.row {
	margin: 0 auto;
	position: relative;
	right: 10.5px;
	width: 1151px;
}
.logo-2 {
	float: left;
	position: relative;
	width: 187px;
}
.part-1-2 {
	float: left;
	margin: 0 3px 0 0;
}
.part-2-2 {
	float: left;
	margin: 7px 0 0;
}
.classic_links-2 {
	float: left;
	margin: 13px 0 0 155px;
	position: relative;
	width: 494px;
}
.home-2 {
	float: left;
	opacity: 0.3;
	color: #ffffff;
	font-size: 1em; /* 16px / 16px = 1em */
	font-weight: 300;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.text-51 {
	float: left;
	margin: 0 0 0 41px;
	opacity: 0.3;
	color: #ffffff;
	font-size: 1em; /* 16px / 16px = 1em */
	font-weight: 300;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.pricing {
	float: left;
	margin: 0 0 0 51px;
	opacity: 0.3;
	color: #ffffff;
	font-size: 1em; /* 16px / 16px = 1em */
	font-weight: 300;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.services-3 {
	float: left;
	margin: 0 0 0 50px;
	opacity: 0.3;
	color: #ffffff;
	font-size: 1em; /* 16px / 16px = 1em */
	font-weight: 300;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.social_icons {
	float: left;
	margin: 0 0 0 175px;
	position: relative;
	width: 140px;
}
.social_icons > * {
	float: left;
	margin: 0 10px 0 0;
}
.social_icons > *:last-child {
	margin-right: 0 !important;
}
.divider-5 {
	height: 1px;
	margin: 39px auto 0;
	width: 1170px;
	background: rgba(255, 255, 255, 0.15);
}
.text-52 {
	margin: 39px 0 0;
	opacity: 0.5;
	color: #ffffff;
	font-size: 0.75em; /* 12px / 16px = 0.75em */
	font-weight: 300;
	letter-spacing: 0.05em;
	text-align: center;
}
.text-style {
	line-height: 40px;
}
